{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["./babel-plugin"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["./babel-plugin"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          { "loose": true, "exclude": ["@babel/plugin-transform-regenerator"] }
        ],
        "@babel/react"
      ]
    }
  }
}
